<!-- <button (click)="ngOnDestroy()" class="btn btn-primary">Go Offline</button>
<ul>
  <li *ngFor="let course of courses$ | async">
    {{ course }}
  </li>
</ul>
<p>
  {{ course$ | async | json }}
</p>
<p>
  {{ authors$ | async | json }}
</p> -->
<div class="row m-3">
  <div class="form-group col-6">
    <input
      type="text"
      class="form-control"
      (keyup.enter)="add(course)"
      #course
    />
  </div>
</div>

<ul>
  <li *ngFor="let course of courseObservable$ | async">
    {{ course.key }}
    <button (click)="update(course.key)">Update</button>
    <button (click)="delete(course.key)">Delete</button>
  </li>
</ul>

<!-- <ul *ngIf="authors$ | async as author">
  <li>{{ author?.name }}</li>
  <li>{{ author?.students }}</li>
  <li>{{ author?.isPremium }}</li>
</ul> -->
